---
// layout
import Layout from "../../layouts/Layout.astro";

// components
import Heading from "../../components/elements/Heading.astro";
import Container from "../../components/elements/Container.astro";
import Work from "../../components/items/Work.astro";
import Pagination from "../../components/sections/works/Pagination.astro";

// routing
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
export const getStaticPaths = (async ({paginate}) => {
    const works = await getCollection("works", ({data}) => !data.isDraft)
    return paginate(works, {pageSize: 6});
}) satisfies GetStaticPaths;

// props
const { page } = Astro.props;
---

<Layout title=`Works - Page ${page.currentPage}`>
    <Heading tagName="h1" tagSize="h1" class="text-center">Works</Heading>
    <Container variant={'lg'}>
        <Container class="grid lg:grid-cols-2 grid-cols-1 gap-24">
            {page.data.map((work) => (
                <Work 
                    slug={work.data.slug}
                    featuredImage={work.data.featuredImage}
                    title={work.data.title}
                    client={work.data.client}
                    category={work.data.category}>
                </Work>
            ))
            }
        </Container>
        <div class="flex flex-row gap-2">
            <Pagination prev={page.url.prev}></Pagination>
            <Pagination next={page.url.next}></Pagination>
        </div>
    </Container>
    
</Layout>
