---
// assets
import { Image } from "astro:assets";

// components
import Text from "../elements/Text.astro";
import Heading from "../elements/Heading.astro";

// props
const { slug, featuredImage, title, client, category } = Astro.props;
---

<div class="group lg:m-auto">
    <div class="relative xl:w-[350px] xl:h-[350px] lg:w-[300px] lg:h-[300px] md:w-[400px] md:h-[400px] sm:w-[250px] sm:h-[250px] w-[200px] h-[200px] overflow-visible mb-4">
        <div class="absolute top-2 left-2 z-40 bg-base-900 border-2 border-base-100 px-4 flex gap-2">
            <Text variant={'lg'} class="text-base-100">{category}</Text>
        </div>
        <Image src={featuredImage} alt={title} class="relative w-full h-full object-cover z-20" loading="lazy" width={400}/>
    </div>
    <Heading tagName="h3" tagSize="h4">{title}</Heading>
    <Text variant={'md'}>{client}</Text>
</div>

